<!--
  * include in
  1.index-route_1.html
-->

<!-- start scope of Controller, UserInfoListCtrl in UserInfoController.js -->
<div ng-controller="UserInfoListCtrl">

    <div class="alert alert-error" ng-show="error">
       {{errorMessage}}
    </div>

    <!-- Employee Data Form; Bootstrap 3 -->
    <hr/>
    <h3>Employee Infomation</h3>

    <!-- Switch form between TeamMeal and Employee data -->
    <div class="panel panel-default panel-info" id="pnlDataManipulation">
        <div class="panel-heading">{{txtManipulationFormHead}}</div>
        <div class="panel-body">
            <!-- Search Func. (By EmpNo./TeamNo.)-->
            <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input name="qryCondition" type="radio"
                               aria-label="queryByEmpNo"
                               ng-model="qryCustCondition"
                               ng-value="qryCustCondList[0].name">{{qryCustCondList[0].displayTxt}}
                    </span>
                    <!-- TODO - not finished -->
                    <span class="input-group-addon">
                        <input name="qryCondition"  type="radio"
                               ng-disabled="true"
                               aria-label="queryByTeamNo"
                               ng-model="qryCustCondition"
                               ng-value="qryCustCondList[1].name">{{qryCustCondList[1].displayTxt}}
                    </span>
                    <span>
                        <input name="qryCondData" ng-model="qryCondValue" type="text"
                               class="form-control" placeholder="Search by....">
                    </span>
                    <span class="input-group-btn">
                         <button class="btn btn-primary" type="button" ng-click="qryEmployeeByCond()">
                             <span class="glyphicon glyphicon-search"
                                   aria-hidden="true"></span>
                             Go!</button>
                    </span>
                </div> <!-- /input-group -->
            </div> <!-- /Search Func. End -->

            <!-- switch button -->
            <div class="btn-group" role="group" aria-label="btngSwithDataFrom">
                <button type="button" class="btn btn-default" ng-click="clickShowUserForm(true)" ng-disabled="isDisableVal">ShowUserForm</button>
                <button type="button" class="btn btn-default" ng-click="clickShowUserForm(false)" ng-disabled="isDisableVal">ShowMealForm</button>
            </div>
            <hr>
            <!-- User Form -->
            <div id="idUserForm" ng-show="isShownUserFrm">
                <form class="form-horizontal">
                    <!-- User Data -->
                    <div class="form-group">
                        <label for="idUserNumber" class="col-sm-2 control-label">User Number</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="idUserNumber"
                                   ng-model="User.userId"
                                   placeholder="User Number" readonly min="10">
                        </div>

                        <label for="idEmpID" class="col-sm-2 control-label">Employee ID</label>

                        <div class="col-sm-4">

                            <input type="text" class="form-control" id="idEmpID"
                                   ng-model="User.empId"
                                   placeholder="Employee ID" readonly required min="10">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="idUserName" class="col-sm-2 control-label">Employee Name</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="idUserName"
                                   ng-model="User.userName"
                                   placeholder="Employee Name" required min="30">
                        </div>

                        <label for="idUserRole" class="col-sm-2 control-label">Role Type</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="idUserRole"
                                   ng-model="User.userAccounts[0].id.userRole"
                                   placeholder="Role Type" required min="20">
                        </div>
                    </div>
                    <!-- Team Data -->
                    <div class="form-group">
                        <label for="idTeamID" class="col-sm-2 control-label">Team ID</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="idTeamID"
                                   ng-model="Team.teamId"
                                   placeholder="Team ID" readonly required min="10">
                        </div>

                        <label for="idTeamName" class="col-sm-2 control-label">Team Name</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="idTeamName"
                                   ng-model="Team.teamName"
                                   placeholder="Team Name" required min="20">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="idDeptID" class="col-sm-2 control-label">Dept ID</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="idDeptID"
                                   ng-model="Team.deptId"
                                   placeholder="Dept ID" readonly required min="10">
                        </div>

                        <label for="idDeptName" class="col-sm-2 control-label">Dept Name</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="idDeptName"
                                   ng-model="Team.deptName"
                                   placeholder="Dept Name" required min="20">
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="idImgID" class="col-sm-2 control-label">Image ID</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="idImgID"
                                   ng-model="User.imgFile.imgId"
                                   placeholder="Image ID" readonly min="10">
                        </div>

                        <label for="idImgData" class="col-sm-2 control-label">Employee Photo</label>

                        <div class="col-sm-4">
                            <!-- 
                            <img id="idImgData" width="250" height="225"
                                 ng-src="http://localhost:8082/MealAP1/api/downloadDBImgFile/?imgFileId=4b8af38f-6418-45e3-8aa0-8314916b326f"/>
                             -->
                             <img id="idImgData" width="250" height="225"
                                 ng-src="http://localhost:8082/MealAP1/api/downloadDBImgFile/?imgFileId={{User.imgFile.imgId}}"/>     

                        </div>
                    </div>

                    <!-- Employee Maintipulation Tools Bar -->
                    <div class="form-group"> <!-- Tools Bar -->
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-primary"
                                    ng-disabled="!customer.customerName || !customer.creditLimit"
                                    ng-hide="editMode"
                                    ng-click="addNewEmployee(User)">Add
                            </button>
                            <button type="button" class="btn btn-primary"
                                    ng-disabled="!customer.customerName || !customer.creditLimit"
                                    ng-show="editMode"
                                    ng-click="updateEmployee(User)">
                                <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                                Save
                            </button>
                            <!--
                            <button type="button" class="btn btn-default" ng-click="resetCustForm()">
                                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                                Reset
                            </button>
                            -->
                            <!-- Trigger the dialog modal(id="RestConfirmDialog") with a button -->
                            <button type="button" class="btn btn-default"
                                    ng-disabled="!editMode"
                                    data-toggle="modal" data-target="#RestConfirmDialog">
                                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                                Upload ImgFile
                            </button>

                            <button type="button" class="btn btn-warning"
                                    ng-click="cancelCustForm()"
                                    ng-disabled="!editMode">
                                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                Cancel
                            </button>

                            <button type="button" class="btn btn-warning"
                                    ng-click="updatePhoto(User)"
                                    ng-disabled="!editMode || User.imgFile.imgId">
                                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                Update Photo
                            </button>


                        </div>
                    </div> <!-- Tools Bar end -->
                </form>
            </div> <!-- User Form End -->

            <!-- Meal Form begin -->
            <div id="idTeamMealForm" ng-hide="isShownUserFrm">

                <form class="form-horizontal">

                    <div class="form-group">
                        <label for="idMealTeamID" class="col-sm-2 control-label">Team ID</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="idMealTeamID"
                                   ng-model="TeamMeal.id.teamId"
                                   placeholder="Team ID" readonly required min="10">
                        </div>

                        <label for="idMealDeptID" class="col-sm-2 control-label">Dept ID</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="idMealDeptID"
                                   ng-model="TeamMeal.id.deptId"
                                   placeholder="Dept ID" readonly required min="10">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="idMealavaNum" class="col-sm-2 control-label">Total Num</label>

                        <div class="col-sm-4">
                            <input type="text" ng-readonly="TeamMealReadOnly" class="form-control" id="idMealTotNum"
                                   ng-model="TeamMeal.totNumMeal"
                                   placeholder="Totoal Num<" required min="10">
                        </div>

                        <label for="idMealDeptID" class="col-sm-2 control-label">Available Num</label>

                        <div class="col-sm-4">
                            <input type="text" ng-readonly="TeamMealReadOnly" class="form-control" id="idMealavaNum"
                                   ng-model="TeamMeal.avaNumMeal"
                                   placeholder="Available Num" required min="10">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">

                            <button type="button" class="btn btn-primary"
                                    ng-disabled="TeamMealReadOnly || !editMode"
                                    ng-show="editMode"
                                    ng-click="updateTeamMeal(TeamMeal)">
                                <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                                Save
                            </button>
                            <button type="button" class="btn btn-warning" ng-click="cancelRepSalesForm()">
                                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                Cancel
                            </button>

                        </div>
                    </div>
                    <!-- /Collapsed TeamMeals Table  -->
                    <div id="idCollapseTeamMealList">
                        <div class="well">
                            <div class="panel panel-info margin-bottom-40">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-tasks"></i>TeamMeal List</h3>
                                    <!--
                                    <div class="dropdown navbar-right" align="right">
                                        <button class="btn btn-default dropdown-toggle btn-xs" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="caret"></span>
                                            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Dropdown Function
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="" ng-click="switch2OrdetailPage('/SalesInfo/OrderDetails/', orderData, {}, customer)">Add OrderDetail </a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="" class="disabled">Another action</a></li>
                                        </ul>
                                    </div>
                                    -->
                                </div>
                                <div class="panel-body">

                                    <!-- TeamMealList Table -->
                                    <h4 ng-show="TeamMealList.length == 0"><span>TeamMealList is Empty</span></h4>
                                    <table class="table table-bordered table-striped table-hover" ng-show="TeamMealList.length > 0">
                                        <thead>
                                        <tr class="gridHeadStyle2">
                                            <th class="gridHeadBoderStyle2" style="width:25px;">Team ID</th>
                                            <th class="gridHeadBoderStyle2">Dept ID</th>
                                            <th class="gridHeadBoderStyle2">Total quantity</th>
                                            <th class="gridHeadBoderStyle2">Available quantity</th>

                                            <th class="gridHeadBoderStyle2">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="mealItem in TeamMealList | orderBy:detailOrder" class="gridCellStyle1">
                                            <td class="gridCellBoderStyle1" style="text-align: center;">
                                                <span class="myBadge-bigYellowBlue">{{mealItem.id.teamId}}</span>
                                            </td>
                                            <td>{{mealItem.id.deptId}}</td>
                                            <td>{{mealItem.totNumMeal}}</td>
                                            <td>{{mealItem.avaNumMeal}}</td>
                                            <!--<td style="text-align: center;width: 20px;"><span ng-show="train.diesel" class="icon-ok"></span></td> -->
                                            <td style="width:150px;text-align: center;">
                                                <button class="btn btn-warning btn-xs" ng-disabled="true" ng-click="removeTeamMeal(mealItem.id.teamId)">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                    Remove
                                                </button>
                                                <button class="btn btn-success btn-xs"
                                                        ng-click="editTeamMeal(mealItem)">
                                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                    Edit</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>

                        </div>
                    </div> <!-- /CollapsedOrderDetails Table  -->
                </form>
            </div> <!-- Employee Form end -->
            <hr>
            <!-- to do: status_bar message -->
            <div class="row">
                <div class="alert alert-success pull-center small">{{status_bar + 'status_bar'}}
                </div>
            </div>
        </div>
    </div> <!--<div id="tabDataManipulation">-->

    <!-- Modal; Show dialog to confirm resetting -->
    <div class="modal fade" id="RestConfirmDialog" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header dialog-infoHeadStyle1">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                        Confirmation</h4>
                </div>
                <div class="modal-body dialog-defaultBodyStyle1">

                    <div class="upload-container">
                        <div class="upload-header">
                            <h3>Upload A  Image File</h3>
                            <span>(Pls pick a image file:)</span>
                        </div>
                        <div class="upload-content">


                            <div class="single-upload">
                                <h3>Upload Single File</h3>
                                <form id="singleUploadForm" name="singleUploadForm">
                                    <!--<span>select = {{UploadImgFileName}}</span><br/> -->
                                    <!-- 
                                    <input id="singleFileUploadInput" type="text" name="file" ng-model="UploadImgFileName" readonly required />
                                    -->
                                    <input id="singleFileUploadInput" type="file" name="file" 
                                            onchange="angular.element(this).scope().selUploadFile(this.files)"
                                           class="file-input" required />
                                    <!--
                                    <button type="submit" class="primary submit-btn"
                                                          ng-click="uploadImgFile2Srv()">Submit</button>
                                                          -->
                                    
                                </form>
                                <div class="upload-response">
                                    <div id="singleFileUploadError"></div>
                                    <div id="singleFileUploadSuccess"></div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer dialog-defaultFootStyle1">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                        Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="uploadImgFile2Srv()">
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                        Submit</button>
                </div>
            </div>
        </div>
      </div>
    </div>    <!-- Modal; Show dialog to confirm resetting end -->


<!-- Lower half of page ************************************************************************ -->
    <hr/>
    <h3>Employee List</h3>

    <div class="alert alert-warning" ng-show="UserList.length == 0">
        <h4>Employee Not found</h4>
    </div>
    <!-- Employee Data List -->
    <div ng-show="UserList.length > 0">


        <table class="table table-bordered table-striped table-hover" ng-show="UserList.length > 0">
            <thead>
            <tr class="gridHeadStyle1">

                <th class="gridHeadBoderStyle1" style="width:25px;">EmpID</th>
                <th class="gridHeadBoderStyle1" style="width:25px;">DeptID</th>
                <th class="gridHeadBoderStyle1" style="width:25px;">TeamID</th>
                <th class="gridHeadBoderStyle1">EmpName</th>
                <th class="gridHeadBoderStyle1">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="userItem in UserList | orderBy:predicate" class="gridCellStyle1">
                <td class="gridCellBoderStyle1" style="text-align: center;"><span
                        class="badge">{{userItem.empId}}</span>
                </td>
                <td>{{userItem.deptId}}</td>
                <td>{{userItem.teamId}}</td>
                <td>{{userItem.userName}}</td>

                <td style="width:150px;text-align: center;">
                    <button class="btn btn-warning btn-xs" ng-click="removeCustomer(customer.customerNumber)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        Remove
                    </button>
                    <!--<button class="btn btn-mini btn-primary" ng-click="editCustomer(customer)">Edit</button>-->
                    <button class="btn btn-success btn-xs" ng-click="editUser(userItem)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        Edit
                    </button>
                </td>
            </tr>
            </tbody>
        </table>



    </div> <!-- /Customer Data List -->

</div><!-- end scope of Controller -->